<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    /* table{
        width:600px;
        border: 1px solid #aaa;
    }
    tr,td,th{
        border: 1px solid #aaa;
        text-align: center;
    } */
</style>
<body>
    <h2>添加学生信息</h2>
    <form action="/addDo" method="POST">
        <table>
               <tr><td>姓名： </td><td><input type="text" name="sname"></td> </tr> 
               <tr><td>年龄： </td><td><input type="text" name="age"></td> </tr> 
               <tr><td>家庭住址： </td><td><input type="text" name="addr"></td> </tr> 
               <tr><td>联系方式： </td><td><input type="text" name="tel"></td> </tr> 
        </table>
        
        <input type="submit"  value="确认添加"/>
    </form>
</body>
</html>
<script>

</script>